.SecondNav {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.nav-links-hiddenn {
  text-decoration: none;
  color: #222222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  visibility: visible;
}

.nav-links-hiddenn:hover {
  background-color: #f2f3f5;
  color: #000;
  border-radius: 70px;
  transition: all 0.2s ease-in-out;
}
